* {
  margin: 0;
  padding: 0;
}
.content{
  font-size: 16px;
  width: 100%;
  margin: auto;
  height: 100vh;
  justify-content: center;
  background:rgba(0, 0, 255, 0.4);
}
.wrapper{
  margin:0 3em;
}
.login{
  background: rgba(0, 0, 255, 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  width: 20%;
  text-align: center;
  padding: 1em;
  border: 1px solid black;
}
.form h2,input{
  width: 100%;
  display: block;
}
.form p{
  width: 100%;
}
.form h2{
  font-size: 2em;
  text-transform: uppercase;
}
.form p {
  padding-top: 1em;
  text-align: left;
  font-size: 1.4em;
}
.form input{
  /* padding: 0 .5em; */
  box-sizing: border-box;
  font-size: 1.2em;
}
.enviar{
  width: 100%;
  text-decoration: none;
  background: blue;
  color: white;
  padding: 0.4em 1em;
  margin-top: 1em;
}
.enviar:hover{
  background: rgba(0, 0, 255, 0.5);
  cursor: pointer;
}
.header{
  display: block;
  width: 100%;
  background: white;
  padding: .5em 0;
}
.header-content{
  display: grid;
  grid-template-columns: 900px 1fr;
  justify-content: space-between;
  align-items: center;
}

a{
  text-decoration: none;
  background: blue;
  color: white;
  padding: 0.4em 1em;
}
a:hover{
  background: rgba(0, 0, 255, 0.5);
}
a:active{
  text-decoration: none;
}
.menu{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.foto{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid black;
  object-fit: cover;
  margin-left: 1em;
  margin-right: 1em;
  /* transform: scale(.1); */
}
.content-text{
  font-size: 1.2em; 
}
span{
  font-weight: bold;
}
.content-text .logout{
  margin-left: 1em;
}
.select{
  padding:.5em 1em;
  width: 200px;
  border: 1px solid black;
  /* border-radius: 58px; */
  cursor: pointer;
  text-align: center;
  font-size: 1em;
}
.notas{
  position: relative;
  top: 20em;
}
table{
  position: relative;
  width:60%;
  color: black;
  margin:auto;
  user-select: none;
  text-align: center;
}
.table_title{
  background: white;
  color: black;
}
.table_title th{
  background: black;
  color: white;
  border: none;
  padding: 0.5em;
}
td{
  width: 100px;
  padding: 0.3em;
}
tr{
  background: white;
}